.search-container {
    margin: 50px 0;
}

.title-search {
    height: 80px;
    background-color: #fee7e7;
    color: rgb(169, 47, 38);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.search-results{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

@media (max-width: 600px) {
  .search-page {
    padding: 8px;
    font-size: 1rem;
  }
  .search-card {
    width: 100%;
    margin-bottom: 12px;
    font-size: 1rem;
  }
  .search-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}